@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');





/* :: 2.0 Import All CSS */


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;


}
a,li{
  font-family: 'Poppins', sans-serif;
  color: rgb(65, 57, 57);
  font-size: 18px;
  margin: 10px;
  

}

.logo-header img{
  width: 200px;
  
}
header{
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5rem 10rem;
}

.nav-menu{
  max-width: 992px;
  margin: 0 auto;
  
}

.nav-menu ul{
  display: flex;
  align-items: center;
  
}
.nav-menu li{
  margin-right: 1.5rem;
}

.nav-menu li a{
color: black;
}
.nav-menu a:hover{
  color:#4a90d2;
}

.nav-menu li:last-child:hover{
  background: transparent;
}

/* Bars Menu */
.menu-icon img{
  width: 30px;
  height: 30px;
  border-radius: 2px;
  
}
.menu-icon, #check{
display: none;
}

@media (max-width: 768px){

  
  .checkbtn{
      display:block;    
  }
  .menu-icon{
      display: block;
      position: fixed;
      top:20px;
      right: 20px;
      cursor: pointer;
  }
.nav-menu ul{
  display: block;
  position: fixed;
  top: 70px;
  left: -100%;
  background: white;
  width: 100%;
  height: 100vh;
  right: 0;

}
.nav-menu ul li{
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-menu ul li :last-child{
  background: none;
  padding: 0rem;
}
#check:checked ~ ul{
  left: 0;
  transition: all .25s;

}
.logo-header img{
  width: 100px;

}
}

header{
 
  padding:.2rem 10rem;
}


.texto{
  font-size: 100px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}





/* FOOTER */
/* footer */

.container2{
	max-width: 1170px;
	margin:auto;
}
.row2{
	display: flex;
    
}
ul{
	list-style: none;
}
.footer{
	background-color: #0e0d0d;
    padding: 70px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #f0e7e7;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #eae2e2;
	text-decoration: none;
	font-weight: 300;
	color: #e9dbdb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ead8d8;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(244, 235, 235, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #eae1e1;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #f3e9f2;
}

 
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  .foto-footer{
      width: 100%;
  }
  .foto-footer2{
      width: 100%;
      height: 150%;
  }
  .sandracode{
      color: #ffffff;
      margin-left: 200px;
      
  }

  /* blog contenido  */






.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

@media(max-width:700px){
  .row{
      flex-direction: column;
  }
}

/* Campus */


/* Facilities */

.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}


.facilities h1 {
  font-size: 3em;
  text-transform: uppercase;
}

.subtext{
  text-transform: uppercase;


}
.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}


.facilities-col img{
  width: 100%;
  border-radius: 10px;
}

.facilities-col img:hover{
  transform: scale(1.1); /* Aumento de escala al pasar el cursor por encima */

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor por encima */
  transform: scale(1.08) translateZ(0); /* Aumento de escala y efecto 3D al pasar el cursor por encima */

}
.facilities-col p{
  padding: 0;
}
.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* slider video */

.gallery-slider {
  position: relative;
  top: 50px;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 10px;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 20%;
  /* Estilos adicionales para el video */
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.slide img {
  width: 100%;
  height: auto;
}

.titulo{
  text-align: center;
  text-transform: uppercase;
}
.titulo h1{
  font-size: 3em;
}

@media (max-width: 750px) {
  .gallery-slider {
    position: relative;
    top: 50px;
  }
  
  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan en múltiples filas */
  }
  
  .slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%; /* Cambiamos el ancho de cada slide a 100% para mostrar una sola imagen por fila */
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: block; /* Mostramos los botones en la versión móvil */
    z-index: 9999; /* Aseguramos que los botones estén por encima del slider */
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
}


/* galeria de videos */

/* films page */





.container-videos {
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-top: 100px;

}




.title1 {
  padding: 2rem 9% ;
  color: rgb(11, 11, 11);
  font-size: 2rem;
  text-align: left;



}
  
.video{ 
  border: 0.12rem solid #d8d8d8;
}


.contvideos {
  padding: 0 9%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* 3 columnas de 300px de ancho mínimo */
  grid-template-rows: repeat(2, minmax(0, 1fr)); /* 2 filas con la misma altura */
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* proporción 16:9 para mantener el video */
  position: relative;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





@media (max-width: 750px) {
  .contvideos {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 1 columna de 250px de ancho mínimo /
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr)); / Las filas se ajustan automáticamente */
  }


  }

  /* new letter */

  #newsletter {
    text-align: center;
    padding: 20px;
  }
  
  #newsletter h2 {
    margin-bottom: 10px;
  }
  
  #newsletterForm input {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
  }
  
  #newsletterForm button {
    padding: 10px 20px;
    background-color: #e91414;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
  }
  
  #newsletterForm button:hover {
    background-color: #0b0c0b;
  }
  
  /* POST CON SLIDER  */

  #blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .blog-post {
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(32.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;

    transition: opacity 0.5s, transform 0.5s; /* Transiciones suaves para opacidad y transformación */
 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transform-style: preserve-3d; /* Efecto 3D */
     transform: translateZ(0); /* Prevención de paralaje */

}

    .blog-post:hover {
  opacity: 0.8; /* Opacidad reducida al pasar el cursor por encima */
  transform: scale(1.1); /* Aumento de escala al pasar el cursor por encima */

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor por encima */
  transform: scale(1.02) translateZ(0); /* Aumento de escala y efecto 3D al pasar el cursor por encima */
}



  .blog-post img {
    width: 100%;
    height: auto;
  }
  
  .blog-post h2 {
    margin-top: 10px;
  }
  
  .blog-post p {
    margin-top: 10px;
  }


  .image-container {
    position: relative;
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .prev-button {
    left: 0;
  }

  .next-button {
    right: 0;
  }

  
  /* Media queries */
  @media (max-width: 768px) {
    #blog-posts {
      flex-direction: column;
      align-items: center;
    }
    
    .blog-post {
      width: 100%;
    }
  }

  /*  boton flotante whashsap */

  /* Estilos para el botón flotante de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; /* Color de fondo de WhatsApp */
  color: #fff; /* Color del icono de WhatsApp */
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s;
}

.whatsapp-button a {
  text-decoration: none;
  color: inherit;
}

.whatsapp-button i {
  font-size: 24px;
}

.whatsapp-button:hover {
  background-color: #128c7e; /* Cambio de color al pasar el ratón */
}
