
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Poppins', sans-serif;
	background-color: #ffffff;

}

 

main {
	display: flex;
	gap: 30px;
	margin-bottom: 80px;
	width: 100%;
}

.container-content{
	font-size: 30px;
	margin: 100px;
}

.container-content h1{
	text-transform: uppercase;

}
.container-content p{
	font-size: 23px;

}



.box-container{
    margin-bottom: 100px;
    padding: 20px;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    
    }

    .services .box-container{
      display: flex;
      flex-wrap: wrap;
      gap:1.5rem;
    }
    
    .services .box-container .box{
      flex:1 1 25rem;
      border-radius: .5rem;
      background:#fff;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      border:.1rem solid rgba(0,0,0,.2);
      text-align: center;
      padding:2rem;
      transition: transform 0.3s ease;

    }

    .services .box-container .box:hover {
        transform: scale(1.1); /* Escala la caja al 110% */
      }
    
    .services .box-container .box h3{
      font-size: 2.5rem;
      color:#333;
    }
    
    .services .box-container .box p{
      font-size: 18px;
      color:#666;
      padding:.5rem 0;
      line-height: 2;
    }
    
.box img{
	width: 40%;
	margin: 0 auto;
}


/* formulario de contacto */

.formulario{
	padding: 100px;
    

}

.formulario h1{
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;

}

 

form {
	max-width: 500px;
	margin: 0 auto;
  }

  label {
	display: block;
	margin-bottom: 5px;
  }

  input,
  textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
  }

  button {
	background-color: rgb(232, 20, 20);
	color: white;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
	border-radius: 10%;
  }

  button:hover {
	background-color: #0f100f;
  }


  @media only screen and (max-width: 768px) {
    .formulario {
      padding: 50px;
    }
  
    .formulario h1 {
      font-size: 30px;
    }
  
    form {
      max-width: 350px;
    }
  
    input,
    textarea {
      padding: 8px;
    }
  
    button {
      padding: 8px 20px;
    }

    .container-content h1{
        text-transform: uppercase;
        font-size: 25px;
    
    }
    .container-content p{
        font-size: 20px;
        margin-left: -10px;
    
    }
    .container-content{
        margin: 50px;
    }
  }
/* menu navegación  */



a,li{
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 57, 57);
    font-size: 18px;
    margin: 10px;
    

}

.logo-header img{
    width: 200px;
    
}
header{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 10rem;
}

.nav-menu{
    max-width: 992px;
    margin: 0 auto;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    
}
.nav-menu li{
    margin-right: 1.5rem;
}
.nav-menu a:hover{
    color:#4a90d2;
}

.nav-menu li:last-child:hover{
    background: transparent;
}

/* Bars Menu */
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    
}
.menu-icon, #check{
display: none;
}

@media (max-width: 768px){

    
    .checkbtn{
        display:block;    
    }
    .menu-icon{
        display: block;
        position: fixed;
        top:20px;
        right: 20px;
        cursor: pointer;
    }
.nav-menu ul{
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    background: white;
    width: 100%;
    height: 100vh;
    right: 0;

}
.nav-menu ul li{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-menu ul li :last-child{
    background: none;
    padding: 0rem;
}
#check:checked ~ ul{
    left: 0;
    transition: all .25s;

}
.logo-header img{
    width: 100px;

}
}


    
   

header{
   
    padding:.2rem 10rem;
}




/* footer */

.container2{
	max-width: 1170px;
	margin:auto;
}
.row2{
	display: flex;
    
}
ul{
	list-style: none;
}



.footer{
	background-color: #0e0d0d;
    padding: 70px 0;
	margin-top: 60px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #f0e7e7;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #eae2e2;
	text-decoration: none;
	font-weight: 300;
	color: #e9dbdb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ead8d8;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(244, 235, 235, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #eae1e1;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #f3e9f2;
}

 
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  .foto-footer{
      width: 100%;
  }
  .foto-footer2{
      width: 100%;
      height: 150%;
  }
  .sandracode{
      color: #ffffff;
      margin-left: 200px;
      
  }
  
.servicios{
    height: 500px;
}
.titulo-servicio{
    text-align: center;
    font-size: 100px;
}



@media (max-width: 768px){

	
img {
	max-width: 100%;
	display: flex;
}


main {
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
	width: 100%;
}

.container-img {
	background-color: #f7f7f9;
}

.card-list-products {
	display: flex;
	flex-direction: column;

}
}